html,
body {
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    box-sizing: border-box;
}

.note-column--matched [data-type='note-head'] {
    fill: #148a3d;
}

.note-column--matched [data-type='note-stem'],
.note-column--matched [data-type='note-ledger-line'] {
    stroke: #148a3d;
}
