@import 'media';
#app {
    min-height: 100vh;
    width: 100%;
    background: var(--app-color);
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    @include desktop {
        width: 1000px;
        margin: 0 auto;
    }
}